{% extends 'base.html' %}
{% load static %}
{% block title %}Signup | Mr.Riyo{% endblock title %}
{% block content_main %}
<div class="container">
    <div class="card card-container">
        <h2 class="card-title">Registration</h2>

        <p id="profile-name" class="profile-name-card"></p>

        <form method="POST" class="form-signin" action="{% url
            'socialaccount_signup' %}">
            {% csrf_token %}
            {{ form.as_p }}

            <button class="btn btn-lg btn-primary btn-block btn-signin"
                type="submit">Sign Up</button>
        </form>
        <br>
        - or -
        <br>
        <a href="{% url 'account_login' %}">Log in</a>
    </div>
</div>
{% endblock content_main %}