{% extends 'base.html' %}
{% load static %}
{% block title %}Index | Mr.Riyo{% endblock title %}
{% block content_main %}
<section class="pt-5 pb-5 mt-0 align-items-center d-flex"
    style="height:100vh;">
    <div class="container-fluid">
        <div class="row justify-content-center align-items-center d-flex
            text-center h-100">
            <div class="col-12 col-md-8 h-50">
                {% if user.is_authenticated %}
                <h1 class="display-1 mb-2 mt-5"><strong>Hello {{user.name}}!</strong>
                </h1>
                <p class="my-5">
                    <a class="btn
                        bg-primary shadow-lg btn-round text-light btn-lg
                        btn-rised" href="{% url 'account_logout' %}">Logout</a></p>
                {% else %}
                <h1 class="display-1 mb-2 mt-5"><strong>Ohh... You are not
                        logged in.</strong>
                </h1>
                <p class="my-5">
                    <a class="btn
                        bg-primary shadow-lg btn-round text-light btn-lg
                        btn-rised" href="{% url 'account_login' %}">Login</a></p>
                {% endif %}


            </div>

        </div>
    </div>
</section>
{% endblock content_main %}